<link rel="stylesheet" href="http://localhost:3000/css/nhap_lieu.css">

<div class="container">
    <h1 class="mt-4">Thêm dân cư vào cơ sở dữ liệu</h1>
    <form class="khaibao-form row g-3 mt-4" method="POST">
        <div class="col-md-6">
            <label for="fullname" class="form-label">Họ và tên</label>
            <input type="text" class="form-control" id="fullname" name="hoTen">
            <span class="error" id="errname"></span>
        </div>
        <div class="col-md-6">
            <label for="CCCD" class="form-label">Căn Cước Công Dân</label>
            <input type="text" class="form-control" id="CCCD" name="cccd">
            <span class="error" id="errcccd"></span>
        </div>

        <div class="col-lg-3 col-md-12" style="margin-right: 180px">
            <label for="birthDay" class="form-label">Ngày sinh</label>
            <input type="text" class="form-control" id="birthDay" name="ngaySinh" placeholder="yyyy/mm/dd">
            <span class="error" id="errdob"></span>
        </div>
        <div class="col-md-6 col-lg-2" style="margin-right: 200px">
            <fieldset class="row mb-3 mt-4">
                <legend class="col-form-label col-sm-6 pt-0">Giới tính</legend>
                <div class="col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gioiTinh" id="gender1" value="Nam" checked>
                        <label class="form-check-label" for="gender1">
                            Nam
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gioiTinh" id="gender2" value="Nữ">
                        <label class="form-check-label" for="gender2">
                            Nữ
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6 col-lg-3">
            <fieldset class="row mb-3 mt-4">
                <legend class="col-form-label col-sm-6 pt-0">Tình trạng hôn nhân</legend>
                <div class="col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ketHon" id="honnhan1" value="Chưa kết hôn" checked>
                        <label class="form-check-label" for="honnhan1">
                            Chưa kết hôn
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ketHon" id="honnhan2" value="Đã kết hôn">
                        <label class="form-check-label" for="honnhan2">
                            Đã kết hôn
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="ketHon" id="honnhan3" value="Ly hôn">
                        <label class="form-check-label" for="honnhan3">
                            Ly hôn
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-4" style="width: 425px;margin-right: 10px">
            <label for="nationality" class="form-label">Quốc tịch</label>
            <input class="form-control" id="nationality" name="nationality">
            <span class="error" id="errnation"></span>
        </div>
        <div class="col-md-4" style="width: 420px;margin-right: 10px">
            <label for="bloodType" class="form-label">Nhóm máu</label>
            <input class="form-control" id="bloodType" name="bloodType">
            <span class="error" id="errbloodtype"></span>
        </div>
        <div class="col-md-4" style="width: 420px">
            <label for="inputBirthPlace" class="form-label">Nơi đăng ký khai sinh</label>
            <select id="inputBirthPlace" class="form-select" name="noi_dang_ky_khai_sinh">
                <option selected>Choose...</option>
            </select>
            <span class="error" id="errBP"></span>
        </div>
        <div class="col-md-4" style="width: 425px;margin-right: 10px">
            <label for="religion" class="form-label">Tôn giáo</label>
            <input class="form-control" id="religion" name="ton_giao">
            <span class="error" id="errreligion"></span>
        </div>
        <div class="col-md-4" style="width: 425px;margin-right: 10px">
            <label for="fatherID" class="form-label">CCCD cha</label>
            <input class="form-control" id="fatherID" name="fatherID">
            <span class="error" id="errfid"></span>
        </div>
        <div class="col-md-4" style="width: 420px;margin-right: 10px">
            <label for="motherID" class="form-label">CCCD mẹ</label>
            <input class="form-control" id="motherID" name="motherID">
            <span class="error" id="errmid"></span>
        </div>
        <div class="row" id="hktt">
            <label class="form-label" style="font-size: 17px;font-weight: bold">Hộ khẩu thường trú</label>

            <div class="col-md-3">
                <label for="inputCity" class="form-label">Tỉnh - Thành phố</label>
                <select id="inputCity" class="form-select" name="tinh">
                    <option selected></option>
                </select>
                <span class="error" id="errcity"></span>
            </div>
            <div class="col-md-3">
                <label for="inputDistrict" class="form-label">Huyện - Quận</label>
                <select id="inputDistrict" class="form-select" name="huyen">
                    <option selected></option>
                </select>
                <span class="error" id="errdistrict"></span>
            </div>
            <div class="col-md-3">
                <label for="inputVillage" class="form-label">Xã - Phường</label>
                <select id="inputVillage" class="form-select" name="xa">
                    <option selected></option>
                </select>
                <span class="error" id="errvillage"></span>
            </div>
            <div class="col-md-3">
                <label for="inputGroup" class="form-label">Thôn - Tổ</label>
                <select id="inputGroup" class="form-select" name="to">
                    <option selected></option>
                </select>
                <span class="error" id="errgroup"></span>
            </div>
        </div>
        <div class="row" id="noioht">
            <label class="form-label" style="font-size: 17px;font-weight: bold">Nơi ở hiện tại</label>
            <div class="col-md-3">
                <label for="inputCity1" class="form-label">Tỉnh - Thành phố</label>
                <select id="inputCity1" class="form-select" name="tinh1">
                    <option selected></option>
                </select>
                <span class="error" id="errcity1"></span>
            </div>
            <div class="col-md-3">
                <label for="inputDistrict1" class="form-label">Huyện - Quận</label>
                <select id="inputDistrict1" class="form-select" name="huyen1">
                    <option selected></option>
                </select>
                <span class="error" id="errdistrict1"></span>
            </div>
            <div class="col-md-3">
                <label for="inputVillage1" class="form-label">Xã - Phường</label>
                <select id="inputVillage1" class="form-select" name="xa1">
                    <option selected></option>
                </select>
                <span class="error" id="errvillage1"></span>
            </div>
            <div class="col-md-3">
                <label for="inputGroup1" class="form-label">Thôn - Tổ</label>
                <select id="inputGroup1" class="form-select" name="to1">
                    <option selected></option>
                </select>
                <span class="error" id="errgroup1"></span>
            </div>

        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary w-100" id="submitButton" onclick="return submitForm()">Thêm dân cư</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:3000/js/nhap_lieu.js"></script>
<script></script>

