body {
    width: auto;
    height: auto;
    background-color: #F3EBF6;
    background-image: url("ảnh hoa loa kèn.png");
    background-position: center center;
    background-size: cover;

}



.main {
    background-color: #F6F7F9;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);

}

.logo {
    width: 70px;
    height: 56px;
    background-image: url("logo công an.jpg");
    background-position: left;
    background-size: cover;
    z-index: 2;
}


.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    margin-left: 190px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

}

.checkmark_stem {
    position: absolute;
    width:30px;
    height:90px;
    background-color:green;
    left:70px;
    top:20px;
}

.checkmark_kick {
    position: absolute;
    width:30px;
    height:30px;
    background-color:green;
    left:40px;
    top:80px;
}

.sign {
    padding-top: 150px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    z-index: 1;
    padding-bottom: 25px;
}


.submit {
    cursor: pointer;
    border-radius: 5em;
    color: black;
    opacity: 0.7;
    background: linear-gradient(to right, #33FF99, #99FFCC);
    border: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 28.7%;
    font-size: 14px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: black;
    padding-top: 15px;
    opacity: 0.6;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: black;
    text-decoration: none
;
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}