.navbar2 {
    background: linear-gradient(to right,#008B00,#228B22);
    
}

.textCustom {
    color: white!important;
}

.homeImgs img{
    height: 650px;
}

.header {
    position: sticky!important;
    top: 0!important;
    left: 0;
    right: 0;
    z-index: 1000;
}

