<header class="header">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar2">
    <div class="container container-fluid">
      <a class="navbar-brand" href="/" style="font-family: 'Dancing Script', cursive;"><i class="fas fa-users"></i> CensuS </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/thongke">Thống kê</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nhaplieu">Nhập liệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data">Data</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			{{#if user}}
				<li class="nav-item dropdown" id="taikhoanLI">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{user.tai_khoan}}-{{user.cap}}
					</a>
					<ul class="dropdown-menu dropdown-menu-sm-end dropdown-menu-xl-start" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="/taikhoan/capcon">Quản lý cấp con</a></li>
						<li><a class="dropdown-item" href="/taikhoan/doimatkhau">Đổi mật khẩu</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/taikhoan/dangxuat">Đăng xuất</a></li>
					</ul>
				</li>
			{{else}}
				<li class="nav-item" id="dangnhapLI">
					<a class="nav-link" aria-current="page" href="/dangnhap">Đăng nhập</a>
				</li>
			{{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>


<script>

</script>