<link rel="stylesheet" href="./css/sidebars.css">

<div class="row g-0">
  <div class="col-md-3 col-lg-2">
    <main>
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
        <hr>
        <ul class="row g-0 nav nav-pills mb-auto">
          <li class="col-6 col-sm-12 nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <i class="far fa-user"></i>
              Quản lý tài khoản
            </a>
          </li>
          <li class="col-6 col-sm-12 nav-item">
            <a href="#" class="nav-link" aria-current="page">
              <i class="far fa-clock"></i>
              Quản lý thời hạn khai báo
            </a>
          </li>
        </ul>
        <hr>
  
      </div>
    </main>
  </div>
  <div class="col-md-9 col-lg-10 ps-4">
    <h1>Quản lý tài khoản cấp con</h1>
    <div class="table-responsive">
      <table class="table table-hover mt-4">
        <thead class="table-primary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tài khoản</th>
            <th scope="col">Mật khẩu</th>
            <th scope="col">Khu vực</th>
          </tr>
        </thead>
        <tbody>
          {{#each result}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.tai_khoan}}</td>
            <td>{{this.mat_khau}}</td>
            <td>{{this.cap}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="./js/sidebars.js"></script>