<div class="container">
  <h1 class="mt-4">Đăng nhập</h1>
  <form class="mt-4">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tài khoản</label>
      <input type="text" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
  </form>
</div>