<link rel="stylesheet" href="http://localhost:3000/css/loginscreen.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

<body>
<div class="main">
    <div class="logo"></div>
    <p class="sign" align="center">Đăng nhập</p>
    <form class="form1">
        <input class="un " type="text" align="center" placeholder="Tài khoản">
        <input class="pass" type="password" align="center" placeholder="Mật khẩu">
        <a class="submit" align="center" href="#">Đăng nhập</a>
        <p class="forgot" align="center"><a href="#">Quên mật khẩu?</a></p>

</form>
</div>

</body>

