<head>
    <link rel="stylesheet" href="http://localhost:3000/css/changePassword.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Đổi mật khẩu</title>
</head>

<div class="main">
    <div class="logo-area">
        <a class="backward" href="/"><i class="fas fa-chevron-left"></i> Quay lại</a>
        <div class="logo"></div>
    </div>
    <p class="sign" align="center">Đổi mật khẩu</p>
    <form class="form1">
        <input class="pass" type="password" align="center" id="pass1" placeholder="Mật khẩu cũ">
        <input class="pass" type="password" align="center" id="pass2" placeholder="Mật khẩu mới">
        <input class="pass" type="password" align="center" id="pass3" placeholder="Nhập lại mật khẩu mới">
        <p class="sign" align="center" id="error">Vui lòng điền đủ thông tin</p>
        <a class="submit" align="center" href="/" onclick="return error()">Xác nhận</a>

</form>
</div>
<script type="text/javascript" src="http://localhost:3000/js/ChangePassword.js"></script>