<head>
    <link rel="stylesheet" href="http://localhost:3000/css/ConfirmChangePassword.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Đăng nhập</title>
</head>

<body>
<div class="main">
    <div class="logo"></div>
    <span class="checkmark" >
        <div class="checkmark_stem" align="center"></div>
        <div class="checkmark_kick" align="center"></div>
    </span>
    <p class="sign" align="center">Đổi mật khẩu thành công!</p>
    <a class="submit" align="center" href="/">Về trang chủ</a>

</div>

</body>