<a href="/data/tinh">/data/tinh</a> <br>
<a href="/data/huyen/01">/data/huyen/idTinh</a> <br>
<a href="/data/xa/0101">/data/xa/idHuyen</a> <br>
<a href="/data/xom/010101">/data/xom/idXa</a> <br> 
<a href="/data/dancu/01">/data/dancu/01</a> <br> 
<a href="/data/search?key=Nguyễn">/data/search?key=Nguyễn</a> <br> <br>

<a href="/data/bieudo/tongSoDan">/data/bieudo/tongSoDan </a> <br> 
<a href="/data/bieudo/soDanTheoTinh/5">/datbieudo/soDanTheoTinh/limit?</a> <br> 
<a href="/data/bieudo/tyLeGioiTinh">/data/bieudo/tyLeGioiTinh </a> <br> 
<a href="/data/bieudo/soDanTheoDoTuoi">/data/bieudo/soDanTheoDoTuoi </a> <br> 
