<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <style>
   #div_barchart {
    margin: 0 auto;
   }
  @media only screen and (max-width: 350px) {
     .container1 {
      height: 170px!important;
      width: 310px!important;
    }

    #div_piechart {
      position: relative!important;
      margin-bottom: 0!important;
    }

    #div_piechart1 {
      margin-bottom: 0!important;
    }

    #div_barchart {
    margin: unset!important;
    left: 0!important;
   }
   }
  @media only screen and (max-width: 480px) and (min-width: 350px) {
    .container1 {
      height: 200px!important;
      width: 350px!important;
    }

    #div_piechart {
      position: relative!important;
      margin-bottom: 0!important;
    }

    #div_piechart1 {
      margin-bottom: 0!important;
    }
  }
  @media only screen and (max-width: 1050px) and (min-width: 480px) {
    #div_piechart {
      
      margin-bottom: 0!important;
    }

    #div_piechart1 {
      margin-bottom: 0!important;
    }
  }
</style>
<div class="slider mx-4 mt-2"> 
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active homeImgs" data-bs-interval="2000">
                <img src="http://localhost:3000/img/homeImage1.jpg" class="d-block w-100" alt="slider">
            </div>
                <div class="carousel-item homeImgs" data-bs-interval="2000">
                <img src="http://localhost:3000/img/homeImage2.jpg" class="d-block w-100" alt="slider">
            </div>
                <div class="carousel-item homeImgs" data-bs-interval="2000">
                <img src="http://localhost:3000/img/homeImage3.jpg" class="d-block w-100" alt="slider">
                </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container1" id="div_barchart" style="position: relative; height: 50vw; width: 80vw; margin-top: 50px">
    <canvas id="barChart"></canvas>
</div>

<div class="container1" id="div_piechart" style="position: absolute; height: 30vh; width: 55vw; margin-bottom: 250px; right: 0">
    <canvas id="pieChart"></canvas>
</div>
<div class="container1" id="div_piechart1" style="position: relative; height: 30vh; width: 55vw; margin-bottom: 250px">
    <canvas id="pieChart1"></canvas>
</div>
<script>
    let barChart = document.getElementById('barChart').getContext('2d');
    let pieChart = document.getElementById('pieChart').getContext('2d');
    let pieChart1 = document.getElementById('pieChart1').getContext('2d');
    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 14;
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(barChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:[],
        datasets:[{
          label:'Người',
          data:[
            1674,
            1301,
            565,
            421
          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Dân số theo tỉnh/thành phố',
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        scales:{
                xAxes:[{
                        display: true,
                        scaleLabel: {
                        display: true,
                        labelString: 'Dân số'
                          }
                        }],
                yAxes: [{
                        display: true,
                        ticks: {
                          min: 0,
                          max: 50,
                          stepSize: 10
                          }
                        }]
                },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
    fetch("http://localhost:3000/data/bieudo/soDanTheoTinh/5").then(respon=>respon.json()).then(data=>{
        var i;
        for (i = 0; i < data.length; i++) {
          massPopChart.data.datasets[0].data[i] = data[i].so_dan;
          massPopChart.data.labels[i] = data[i].ten;
        }
        massPopChart.update();
       
    })

    let massPopChart1 = new Chart(pieChart, {
      type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['Nam', 'Nữ'],
        datasets:[{
          data:[
            0,
            300
          ],
          //backgroundColor:'green',
          backgroundColor:[
            
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Tỷ lệ nam/nữ',
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
    fetch("http://localhost:3000/data/bieudo/tyLeGioiTinh").then(respon=>respon.json()).then(data=>{
        var i;
        for (i = 0; i < data.length; i++) {
          massPopChart1.data.datasets[0].data[i] = data[i].so_luong;
          massPopChart1.data.labels[i] = data[i].gioi_tinh;
        }
        massPopChart1.update();
       
    })
    let massPopChart2 = new Chart(pieChart1, {
      type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:[],
        datasets:[{
          data:[
            0,
            300
          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 206, 86, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(54, 162, 235, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Số dân theo độ tuổi',
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
    fetch("http://localhost:3000/data/bieudo/soDanTheoDoTuoi").then(respon=>respon.json()).then(data=>{
        var i;
        for (i = 0; i < data.length; i++) {
          massPopChart2.data.datasets[0].data[i] = data[i].so_luong;
          massPopChart2.data.labels[i] = data[i].do_tuoi;
        }
        massPopChart2.update();
       
    })
    if (window.innerWidth < 480) {
      Chart.defaults.global.defaultFontSize = 10;
      massPopChart.options.title.fontSize = 14;
      massPopChart.update();
      massPopChart1.options.title.fontSize = 14;
      massPopChart1.update();
      massPopChart2.options.title.fontSize = 14;
      massPopChart2.update();
    }
  </script>
