
<div class="slider mx-4 mt-2"> 
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active homeImgs" data-bs-interval="2000">
                <img src="http://localhost:3000/img/homeImage1.jpg" class="d-block w-100" alt="slider">
            </div>
                <div class="carousel-item homeImgs" data-bs-interval="2000">
                <img src="http://localhost:3000/img/homeImage2.jpg" class="d-block w-100" alt="slider">
            </div>
                <div class="carousel-item homeImgs" data-bs-interval="2000">
                <img src="http://localhost:3000/img/homeImage3.jpg" class="d-block w-100" alt="slider">
                </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover table-bordered caption-top">
        <caption><h3>Tỉnh Nam Định</h3></caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
