<style>
    table {
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(even) {background-color: #f5e2e2;}
tr:hover{
    background-color: rgb(158, 196, 197);
}
@media only screen  and (max-width: 700px){
  #ok tbody,#ok tr,#ok td{
    display: block;
  }
  #ok thead tr{
   display: none;
  }
  #ok tbody td{
    position: relative;
   padding-left: 200px;
  }
  #ok tbody td:before{
    content: attr(data-title);
    position: absolute;
   left: 5px;
   font-weight: bold;
  }
  #ok tbody tr{
      background-color: #ffffff;
    border: 1px solid black;
  }
  #ok tbody tr:hover{
    background-color: rgb(0, 222, 230)
    }

/* #ok tbody td.ok1{
    background-color: #121922;
   color: white;
  } */
  }
  

</style>
<div class="container-fuild mx-3">
    <h1 class="my-4">Dữ liệu dân cư</h1>

    <div class="row">
        <div class="col-md-3">
            <label for="selectTinh" class="form-label">Tỉnh - Thành phố</label>
            <select id="selectTinh" class="form-select">
            </select>
        </div>
        <div class="col-md-3">
            <label for="selectHuyen" class="form-label">Huyện - Quận</label>
            <select id="selectHuyen" class="form-select" name="huyen"></select>
        </div>
        <div class="col-md-3">
            <label for="selectXa" class="form-label">Xã - Phường</label>
            <select id="selectXa" class="form-select"></select>
        </div>
        <div class="col-md-3">
            <label for="selectXom" class="form-label">Xóm - Tổ</label>
            <select id="selectXom" class="form-select"></select>
        </div>
    </div>
    <br>
    <div>
        searching
        <br>
        <input id="nhaptu" value="" placeholder="nhập tên cần tìm"> 
        <button id="searchnguoidan" class="btn btn-danger">click</button>
        <span id=kiemtra></span>
    </div>
    <div class="table-responsive">
        <table class="table mt-5" id="ok" style="width: 100%;text-align: center;">
            <thead class="bg-blue text-danger">
            <tr>
                <th scope="col">CCCD</th>
                <th scope="col">Họ và tên</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Nhóm máu</th>
                <th scope="col">Tình trạng hôn nhân</th>
                <th scope="col">Nơi đăng ký khai sinh</th>
                <th scope="col">Hộ khẩu thường trú</th>
                <th scope="col">Nơi đăng ký tạm trú</th>
                <th scope="col">Tôn giáo</th>
                <th scope="col">Quốc tịch</th>
                <th scope="col">CCCD Cha</th>
                <th scope="col">CCCD Mẹ</th>
                <th scope="col">sửa</th>
                <th scope="col">xóa</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="phantrang"></div>
    
    <div id="loading" class="position-fixed d-none justify-content-center align-items-center" style="top:0;bottom: 0; left: 0; right: 0;background-color: rgba(0,0,0,0.5)">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>   
    </div>
</div>
<!-- Modal -->
<div class="container">
  <div class="modal fade" id="delete-human" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa bản ghi này?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Dữ liệu của bạn sẽ <strong>không</strong> thể khôi phục!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="submit-btn">Xóa</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>
<form id="delete-form" method="POST" action="/thongke?_method=DELETE"></form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/botmonster/jquery-bootpag@master/lib/jquery.bootpag.min.js"></script>
<script>
    // Các biến lưu bộ lọc
    var idTinh = 'all';
    var idHuyen = 'all';
    var idXa = 'all';
    var idXom = 'all';
    var search = '';
    // Các biến lưu dữ liệu dân cư, phân trang
    var dataDanCu = []; // set là mảng trống
    var page = 1;
    const perPage = 20;
    var totalDanCu = 0;
    var kt=0
    var loading = 0;

    // Các dom element jquery, lưu vào biến tránh phải tìm lại nhiều lần
    var selectTinh = $('#selectTinh');
    var selectHuyen = $('#selectHuyen');
    var selectXa = $('#selectXa');
    var selectXom = $('#selectXom');
    var tableDataDanCu = $('#ok tbody');
    var phanTrang = $('#phantrang');
    var loadingView = $('#loading');
    var phanTrangTest=$('#phantrangtest');
    var selectsearch = $('#searchnguoidan')
    var tutimkiem = $('#nhaptu')
    $(function () {
        // xử lý các event, load data sau khi trang đã load xong.

        // Event chọn tỉnh
        selectTinh.change(function () {
            idTinh = $(this).val();

            // reset page ve trang đầu
            page = 1;
            tutimkiem.val('')
            // reset cac du lieu địa chỉ
            resetSelectOptions(idTinh);
            // Load dât huyen cua tinh
            loadHuyen()
            // Load data dan cu
            loadDataDanCu();
        })

        // Event chọn huyện
        selectHuyen.change(function () {
            idHuyen = $(this).val();
            page = 1;
            tutimkiem.val('')
            resetSelectOptions(idHuyen);
            loadXa()
            loadDataDanCu();
        })

        // event chọn xa
        selectXa.change(function () {
            idXa = $(this).val();
            page = 1;
            tutimkiem.val('')
            resetSelectOptions(idXa);
            loadXom()
            loadDataDanCu();
        })
        // event chọn xóm
        selectXom.change(function () {
            idXom = $(this).val();
            page = 1;
            tutimkiem.val('')
            resetSelectOptions(idXom);
            loadDataDanCu();
        })
        //even chọn tìm kiếm
        selectsearch.click(function(){
           search=tutimkiem.val();
           page=1;
           if(search=='')
           {
               loadDataDanCu()
               $('#kiemtra').html('')
           }
           else{
            fetch(`http://localhost:3000/data/search?key=${search}&page=${page}`).then(respon=>respon.json()).then(data=>{
               if(data['tong_so']==0){
                $('#kiemtra').html('vui long nhap lai')
                loadDataDanCu()
                   //return
               }
               else{
                loadDataDanCuSearch()
                $('#kiemtra').html('')
               }
           })
           }        
        })
        // Event click trang
        phanTrang.on("page", function(event, num){
            console.log(search)
            page = num;
           if(search=='')
            loadDataDanCu();
          else{
            fetch(`http://localhost:3000/data/search?key=${search}&page=${page}`).then(respon=>respon.json()).then(data=>{
                if(data['tong_so']==0){  
                        loadDataDanCu()     
                }
                else{
                    loadDataDanCuSearch()
                }     
          })
        }      
        });
        // Load các dữ liệu ban đầu
        loadTinh();
        loadDataDanCu();
    })
    document.addEventListener("DOMContentLoaded", function(){
    let modelSubmitBtn = document.getElementById('submit-btn')
    let deleteForm = document.getElementById('delete-form')
    let id;
    let exampleModal = document.getElementById('delete-human')
      exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      id = button.getAttribute('data-id')
    })
    modelSubmitBtn.onclick = function() {
      deleteForm.action = `/nhaplieu/${id}?_method=DELETE`
      deleteForm.submit();
    }
  });
</script>
<script>
    // Define các function
    function loadTinh() {
        fetch("http://localhost:3000/data/tinh").then(respon => respon.json()).then(data => {
            renderHtmlSelectOptions(selectTinh, data)
        })
    }

    function loadHuyen() {
        selectHuyen.html('')
        if (idTinh === 'all') {
            return
        }
        fetch(`http://localhost:3000/data/huyen/${idTinh}`).then(respon => respon.json()).then(data => {
            renderHtmlSelectOptions(selectHuyen, data)
        })
    }

    function loadXa() {
        selectXa.html('')
        if (idHuyen === 'all') {
            return
        }
        fetch(`http://localhost:3000/data/xa/${idHuyen}`).then(respon => respon.json()).then(data => {
            renderHtmlSelectOptions(selectXa, data)
        })
    }

    function loadXom() {
        selectXom.html('')
        if (idXa === 'all') {
            return
        }
        fetch(`http://localhost:3000/data/xom/${idXa}`).then(respon => respon.json()).then(data => {
            renderHtmlSelectOptions(selectXom, data)
        })
    }
    function loadDataDanCuSearch(){
        // loading = 0
        // updateLoadingView()
        kt=1
        fetch(`http://localhost:3000/data/search?key=${search}&page=${page}`).then(respon=>respon.json()).then(data=>{
            dataDanCu=data['data']
            renderHtmlTableDataDanCu();
            // loading += 1
            updateLoadingView()
            totalDanCu = data['tong_so']
            renderHtmlPhanTrang();
            // loading += 1
            // updateLoadingView();
        })
    }
    function loadDataDanCu() {
        let idThuongTru = ''
        // ưu tien tu xom -> tinh
        if (idXom !== 'all') idThuongTru = idXom
        else if (idXa !== 'all') idThuongTru = idXa
        else if (idHuyen !== 'all') idThuongTru = idHuyen
        else if (idTinh !== 'all') idThuongTru = idTinh
        else idThuongTru = 'all'
        kt=0
        // set loading = 0 sẽ hiển thị loading view
        loading = 0
        updateLoadingView()

        // Load du lieu dan cu
        fetch(`http://localhost:3000/data/dancu/${idThuongTru}?page=${page}`).then(respon => respon.json()).then(data => {
            dataDanCu = data
            renderHtmlTableDataDanCu();
            // Load xong 1 api sẽ + 1 vào loading, update lai trạng thái loading view, 
            // nếu loading = 2 thì ẩn loaddingview
            loading += 1
            updateLoadingView()
        })

        // Load ton so dan cu de tinh phan trang
        fetch(`http://localhost:3000/data/dancu/${idThuongTru}/len`).then(respon => respon.json()).then(data1 => {
            totalDanCu = data1[0].tong_so
            renderHtmlPhanTrang();
            loading += 1
            updateLoadingView();
        })
    }

    function resetSelectOptions(id) {
        if (idTinh === id) {
            idHuyen = 'all'
            idXa = 'all'
            idXom = 'all'
            // reset html
            selectHuyen.html('')
            selectXa.html('')
            selectXom.html('')
        }
        if (idHuyen === id) {
            idXa = 'all'
            idXom = 'all'
            selectXa.html('')
            selectXom.html('')
        }
        if (idXa === id) {
            idXom = 'all'
            selectXom.html('')
        }
    }

    function renderHtmlSelectOptions(select, data) {
        console.log('renderSelectOptions', select, data)
        let content = `<option value="all">Tất cả</option>`
        data.forEach(item => {
            content += `<option value="${item.id}">${item.ten}</option>`
        })
        select.html(content)
    }

    function renderHtmlTableDataDanCu() {
        console.log('renderTableDataDanCu', dataDanCu)
        var content = ``
        if (dataDanCu && dataDanCu.length > 0) {
            dataDanCu.forEach(element => {
                content += `
                <tr>
                    <td data-title="CCCD" class="ok1">${element.id}</td>
                    <td data-title="Họ và tên">${element.ho_ten}</td>
                    <td data-title="Ngày sinh">${element.ngay_sinh}</td>
                    <td data-title="Giới tính">${element.gioi_tinh}</td>
                    <td data-title="Nhóm máu">${element.nhom_mau}</td>
                    <td data-title="Tình trạng hôn nhân">${element.tinh_trang_hon_nhan}</td>
                    <td data-title="Nơi đăng ký khai sinh">${element.noi_dang_ky_khai_sinh}</td>
                    <td data-title="Hộ khẩu thường trú">${element.ho_khau_thuong_tru}</td>
                    <td data-title="Nơi đăng ký tạm trú">${element.noi_dang_ky_tam_tru}</td>
                    <td data-title="Tôn giáo">${element.ton_giao}</td>
                    <td data-title="Quốc tịch">${element.quoc_tich}</td>
                    <td data-title="CCCD Cha">${element.id_cha}</td>
                    <td data-title="CCCD Mẹ">${element.id_me}</td>
                    <td><a href="/nhaplieu/${element.id}/edit"><i class="far fa-edit"></i></a></td>
                    <td><a href="#" data-id="${element.id}" data-bs-toggle="modal" data-bs-target="#delete-human"><i class="far fa-trash-alt"></i></a></td>
                </tr>`
            })
        }
        tableDataDanCu.html(content)
    }

    function renderHtmlPhanTrang() {
        console.log('renderPhanTrang', totalDanCu)

        // todo Cần tối ưu lại phân trang, chỉ hiện thị 6 - 10 button thôi
        // https://getbootstrap.com/docs/5.0/components/pagination/

        // tính tổng số trang
        let totalPage = Math.floor(totalDanCu / perPage)
        if ((totalDanCu % perPage) > 0) {
            totalPage += 1
        }

        phanTrang.bootpag({
            total: totalPage,          
            page: page,     
            maxVisible: 6,
            leaps: true,
            href: "#result-page-{{number}}",
            wrapClass: 'pagination',

        })
    }
    function updateLoadingView() {
        // đoạn code để show loading view khi load / ẩn khi đã load xong
        if(loading === 2) {
            // biến loading = 2 tức là đã load xong cả 2 api: load data dân cư và load tổng số dân cư ok anh
            // ẩn loading đi, thì xóa cái class 'd-flex' trong div đi, thêm cái class 'd-none' vào
            loadingView.removeClass('d-flex').addClass('d-none')
        } else {
            // hiện loading: xóa cái class d-none đi, thêm class d-flex vào
            loadingView.removeClass('d-none').addClass('d-flex')
        }
    }
</script>
<style>
    #phantrang .pagination li > a {
        padding: 5px 10px;
        margin: 0 2px;
        background: #e0e0e0;
        color: #111;
        border: 1px solid #999;
        text-decoration: none;
    }
    #phantrang .pagination li > a:hover,
    #phantrang .pagination li.active > a {
        background: #3494ee;
    }
</style>