<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<style>
  
  #ok tbody tr:hover{
    background-color: cadetblue;
  }
  table,th, td {
  border-style:solid;
  border-color: #96D4D4;
}
  
  @media only screen  and (max-width: 700px){
  #ok tbody,#ok tr,#ok td{
    display: block;
  }
  #ok thead tr{
   display: none;
  }
  #ok tbody td{
    position: relative;
   padding-left: 200px;
  }
  #ok tbody td:before{
    content: attr(data-title);
    position: absolute;
   left: 5px;
   font-weight: bold;
  }
  #ok tbody tr{
border: 1px solid black;
  }
  #ok tbody td.ok1{
    background-color: #121922;
   color: white;
  }
}
</style>
<div class="container fuild">
  <div class="table-responsive">
    <div class="row">
      <label for="inputCity" class="form-label">Hộ khẩu thường trú</label>
      
      <div class="col-md-3">
        <label for="inputState" class="form-label">Tỉnh - Thành phố</label>
        <select id="tinh" class="form-select">
          <option>Choose...</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputState" class="form-label">Huyện - Quận</label>
        <select id="huyen" class="form-select" name="huyen">
          <!-- <option selected>Choose...</option> -->
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputState" class="form-label">Xã - Phường</label>
        <select id="xa" class="form-select" >
        </select>
      </div>
    </div>
      <table class="table  mt-5" id="ok" style="width: 100%;text-align: center;">
          <thead class="bg-blue text-danger">
            <tr>
              <th scope="col">CCCD</th>
              <th scope="col">Họ và tên</th>
              <th scope="col">Ngày sinh</th>
              <th scope="col">Giới tính</th>
              <th scope="col">Nhóm máu</th>
              <th scope="col">Tình trạng hôn nhân</th>
              <th scope="col">Nơi đăng ký khai sinh</th>
              <th scope="col">Hộ khẩu thường trú</th>
              <th scope="col">Nơi đăng ký tạm trú</th>
              <th scope="col">Tôn giáo</th>
              <th scope="col">Quốc tịch</th>
              <th scope="col">CCCD Cha</th>
              <th scope="col">CCCD Mẹ</th>

              <th scope="col">sửa</th>
              <th scope="col">xóa</th>
            </tr>
          </thead>
          <tbody>
            {(each result)}
          </tbody>
      </table>
  </div>
</div>
<!-- Modal -->
<div class="container">
  <div class="modal fade" id="delete-human" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa bản ghi này?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Dữ liệu của bạn sẽ <strong>không</strong> thể khôi phục!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="submit-btn">Xóa</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>
<p id="vl">abc</p>
<form id="delete-form" method="POST" action="/thongke?_method=DELETE"></form>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script >
    $(document).ready(function(){
    let data=JSON.parse('{{{json result}}}')
    var content1=``
    data.forEach(element => {
      content1+=`<tr>
                <td data-title="CCCD" class="ok1">${element.id}</td>
                <td data-title="Họ và tên">${element.ho_ten}</td>
                <td data-title="Ngày sinh">${element.ngay_sinh}</td>
                <td data-title="Giới tính">${element.gioi_tinh}</td>
                <td data-title="Nhóm máu">${element.nhom_mau}</td>
                <td data-title="Tình trạng hôn nhân">${element.tinh_trang_hon_nhan}</td>
                <td data-title="Nơi đăng ký khai sinh">${element.noi_dang_ky_khai_sinh}</td>
                <td data-title="Hộ khẩu thường trú">${element.ho_khau_thuong_tru}</td>
                <td data-title="Nơi đăng ký tạm trú">${element.noi_dang_ky_tam_tru}</td>
                <td data-title="Tôn giáo">${element.ton_giao}</td>
                <td data-title="Quốc tịch">${element.quoc_tich}</td>
                <td data-title="CCCD Cha">${element.id_cha}</td>
                <td data-title="CCCD Mẹ">${element.id_me}</td>
                <td ><a href="/nhaplieu/{${element.id}}/edit"><i class="far fa-edit"></i></a></td>
                <td><a href="#" data-id="{${element.id}}" data-bs-toggle="modal" data-bs-target="#delete-human"><i class="far fa-trash-alt"></i></a></td>
        </tr>`
    });
    $("#ok tbody").html(content1) 
  //  chọn tỉnh quận huyện,xã
  fetch("http://localhost:3000/data/tinh").then(respon=> respon.json()).then(data =>{
    data.forEach(item=>{
      $("#tinh").append(`<option data-id="${item.id}">${item.ten}</option>`)
    })
  })
  var arr=[]
  // chọn tỉnh
$("#tinh").change(function(){
  var b=$("#tinh option:selected").first().data("id")
  for(let i=0;i<data.length;i++){ 
     $(`tbody tr:nth-child(${i+1})`).css("display","")
 }
 for(let i=0;i<data.length;i++){
   var idnguoi=data[i]["ho_khau_thuong_tru"].substr(0,2)
   if(Number(idnguoi)!=Number(b)){
     $(`tbody tr:nth-child(${i+1})`).css("display","none")
   }
   else{
    arr.push(i+1)
   }
 }
  $("#xa").html("")
  fetch(`http://localhost:3000/data/huyen/${b}`).then(respon=>respon.json()).then(data =>{
    var content=``
    data.forEach(item=>{
     content+=`<option data-id="${item.id}">${item.ten}</option>`  
    })
    $("#huyen").html(content)
  })
})
//chọn huyện
$("#huyen").change(function(){
  var arrhuyen=[]
  var arrxa=[]
  arrhuyen=arr
  arrhuyen.forEach(item=>{
    $(`tr:nth-child(${item})`).css("display","")
  })
   var c = $("#huyen option:selected").first().data("id")
 arrhuyen.forEach(item=>{
  var idnguoi=data[item-1]["ho_khau_thuong_tru"].substr(0,4)
  if(Number(idnguoi)!=Number(c)){
    $(`tr:nth-child(${item})`).css("display","none")
  }
  else{
    arrxa.push(item)
  }
 })
  fetch(`http://localhost:3000/data/xa/${c}`)
  .then(Response=>Response.json())
  .then(data=>{
    var content=``
    data.forEach(item=>{
      content+=`<option data-id="${item.id}">${item.ten}</option>`
    })
    $("#xa").html(content)
  })
  //chọn xa
  $("#xa").change(function(){
    arrxa.forEach(item=>{
    $(`tr:nth-child(${item})`).css("display","")
  })
    var d = $("#xa option:selected").first().data("id")
    arrxa.forEach(item=>{
      var idnguoi=data[item-1]["ho_khau_thuong_tru"].substr(0,6)
      if(Number(idnguoi)!=Number(d)){
        $(`tr:nth-child(${item})`).css("display","none")
      }
    })
  })
})

$('#ok').DataTable();
  })
  document.addEventListener("DOMContentLoaded", function(){
    let modelSubmitBtn = document.getElementById('submit-btn')
    let deleteForm = document.getElementById('delete-form')
    let id;
    let exampleModal = document.getElementById('delete-human')
      exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      id = button.getAttribute('data-id')
    })
    modelSubmitBtn.onclick = function() {
      deleteForm.action = `/nhaplieu/${id}?_method=DELETE`
      deleteForm.submit();
    }
  });
  </script>